@charset "ISO-8859-1";

.ui-menuitem .ui-menu-list {
	background-color: white;
}

.ui-megamenu>ul {
	display: inline-block;
}

.ui-menuitem-link {
	margin: 0 20px;
}

.ui-megamenu {
	text-align: center;
	background-color: white;
	border: none;
}

.ui-widget-header {
	background-color: white;
	border: none;
}

.ui-menu-child>table {
	margin: 0 30%;
}

.ui-menu-child>table>tbody>tr>td>ul {
	display: inline-grid;
}

.navbar {
	margin: 0;
	height: 50px;
	background-color: white !important;
	border: none !important;
}

.navbar-header {
	padding-left: 10%;
}

.navbar-brand {
	color: #821c00 !important;
	font-size: 30px !important;
}

.navbar-right>form {
	display: inline;
}

.dropdown-menu {
	padding: 20px !important;
}

.dropdown-menu>div {
	padding: 10px;
}

.dropdown-menu>button, .dropdown-menu>a {
	margin: 2px 18px;
	display: block;
	float: right;
}


.sidebar {
	padding: 30px;
	height: 100%;
	width : 20%;
	
}

.sidebar>h4{
	font-style : bold;
	font-size : 25px;
	color: #821c00;
}

.control-label{
	color: #821c00;
}

.form-group {
	margin-left: 15px;
}

.moncompte {
	border: none;
	background-color: white;
}

.item {
	margin : 0.1%;
	display: block;
	float : left;
	width: 19.8%;
	height: 400px;
}
.conteneurphoto{
	width : 100%;
	overflow: hidden;
	text-align: center;
}

.photoitem {
	max-height: 250px;
	width: auto;
	height: auto;
	margin-left: 50%;
	transform: translateX(-50%);
}

.designation {
	text-align: center;
}

.categorie {
	text-align: center;
}

.prix {
	margin-right: 20px;
	color: #821c00;
	text-align: right;
	font-size: 25px;
}

#espaceAffichage{
	display: block;
	float : left;
	width : 80%;
	
	
}
.panel-group{
	margin :  0 !important;
}

#singleContainer{
	padding : 2% 20%;
}

#singleDesignation{
	color: #821c00;
	margin-bottom: 5%;
}
#singleContainerPhoto{
	diqplay : block;
	float : left;
	width : 30%;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10%;
}

#singlePhoto{
	width: auto;
	max-height : 500px;
	margin-left: 50%;
	transform: translateX(-50%);
}

#singleCaracteristique{
	display : block;
	float : left;
	width : 70%;
	padding : 0 10%;
	text-align: justify;
}

#singleCaracteristique>p{
	margin : 0;
}

#singlePrix{
	margin-right : 10px;
	text-align : right;
	color: #821c00;
}
